body {
  background-image: url(../images/psychdelic-design-on-t-shirt_shutterstock_3198323.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: 'Gochi Hand', cursive;
  height: 100vh;

}

h1 {
  font-size: 50px;
  margin:20px;
}

span {
  padding: 10px;
  font-size: 40px;

}

button {
  margin-top: 20px;
  font-family: 'Gochi Hand', cursive;
  font-size: 40px;
}

ul {
  margin: 10px auto;
  width: 500px;
  height: 500px;
  position: relative;
  display: none;
}

li {
  font-size: 55px;
  width: 98px;
  margin: 1px;
  height: 98px;
  line-height: 98px;
  background: white;
  color: white;
  list-style: none;
  text-align: center;
  float: left;
}

.selected {
  background: blue;
}

.gameStart {
  position: fixed;
  background-image: url(../images/front.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;);
  height: 100vh;
  width: 100%;
}

.score-box p {
  display: inline-block;
}

.gameOver {
  /*background-color: pink;*/
  background-image: url(../images/gameover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  display: none;
  z-index: 5;
  left: 50%;
  transform: translate(-50%, 0);
}

h2 {
  color: white;
  font-size: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  border: solid;
  transform: translate(-50%,-50%);
}
